# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# share objects
_lib/
.libs/
.deps/
autom4te.cache/
*.log

dezhoukv/.libs
dezhoukv/.deps
